body {
  background-color: rgb(108, 150, 108);
  font-family: cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  background-color: wheat;
  margin: 30px 20px;
  padding: 20px 0;
  max-width: 1000px;
  border-radius: 5px;
  width: 100vh;
  height: 85vh;
}

h1 {
  padding: 10px;
  margin: 0;
  color: rgb(66, 95, 66);
  text-align: center;
}

#listSection {
  background-color: #fff;
  padding: 10px 20px;
  height: 70vh;
}
#inputBotao {
  display: flex;
  justify-content: center;
}
#taskInput {
  border: ridge;
  border-color: wheat;
  padding: 5px 10px;
  background-color: rgb(108, 150, 108);
  color: #fff;
  margin-right: 5px;
}
input::placeholder {
  color: #fff;
}
#taskInput:focus {
  outline-style: none;
  background-color: rgb(66, 95, 66);
}

button {
  border: ridge;
  border-color: wheat;
  background-color: rgb(108, 150, 108);
  color: #fff;
  padding: 5px 10px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(66, 95, 66);
}
#list {
  display: flex;
  justify-content: center;
  box-sizing: 50px 25px;
}

#taskList {
  list-style: none;
  padding: 0;
}

li {
  border: 2px solid rgb(108, 150, 108);
}
